src/main/mule/mahesh-maven-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0e5c9a29-3144-4c1a-be8e-720204a97a4f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mahesh-maven-cicdFlow" doc:id="6913f7c2-692a-42e8-a694-9591b6959076" >
		<http:listener doc:name="Listener" doc:id="3ee329d2-629c-49c7-9351-95b50a3730b9" config-ref="HTTP_Listener_config" path="/maven"/>
		<logger level="INFO" doc:name="Logger" doc:id="582cfa93-55b4-479b-a5dd-53906fa5eeb8" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="4520dc77-f471-4325-bb13-aaaa04bd1a9e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"current time and date" : now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
